{% extends "layout.html" %}

{% block content %}
<div class="container">
    
    <!-- Card for displaying total riders count -->
    <div class="card text-center mb-4">
        <div class="card-header bg-info text-white">
            <h4>Total Riders</h4>
        </div>
        <div class="card-body">
            <h1 class="display-4 text-primary">{{ total_riders }}</h1>
            <p class="card-text">Total number of registered riders in the system.</p>
        </div>
        <div class="card-footer text-muted">
            <i class="fas fa-motorcycle fa-2x"></i>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h4>Riders Count by Location</h4> 
            <canvas id="locationChart"></canvas>
        </div>
        <div class="col-md-6">
            <h4>Riders Count by Loan Status</h4> 
            <canvas id="loanStatusChart"></canvas>
        </div>
    </div>
</div>

<style>
      /*card*/

      .card {
        transition: transform 0.2s;
    }
    
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>

{% endblock %}
